@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300&display=swap');

* {
    margin:0;
    padding:0;
    border:none;
}

.navbar {
    width:100%;
    z-index: 1;
    background-color: #007965;
    position:fixed;
    top:0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .5rem solid #B05A7A;

}

.logo {
    margin: 1rem 0 1rem 1rem;
    font-family: Lobster, cursive;
}

.navlinks {
    display:flex;
    justify-content: space-between;
}


.navlinks a {
    color:#FFCC29;
    padding: 0 1rem;
    text-decoration: none;

}

.navlinks a:hover {
    border-bottom: 2px solid #B05A7A ;
}

body {

    font-family:'Roboto', sans-serif;
    font-weight:300;
    background-color: #007965;

}


h1, h2 {
    font-family: Roboto,sans-serif;
    text-transform:uppercase;
    letter-spacing: 5px;
    color:#F58634;
}


#active {
    border-bottom: 1px solid #B05A7A ;
}

/* hero image section */

#hero-image {
    height:600px;
    width:100%;
    background:url(../images/waves-g1abde4bb4_1920.jpg) no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}

#hero-outer {
    height:600px;
    width:100%;
    overflow: hidden;

    position:relative;
}

/* adding a little animation to the hero image */

@keyframes hero-zoom {
    from {
        opacity: .01;
    }
    to {
        opacity: 1;
    }
}

#cover-text, #cover-text h2 {
    color: #007965;
    font-family: Roboto,sans-serif;
}

#cover-text {
    font-size:200%;
    font-family:'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing:4px;
    width:300px;
    height:300px;
    padding-top:40px;
    padding-left:10px;
    background-color: rgba(255, 204, 41, .9);

    position:absolute;
    bottom:1rem;
    right:1rem;

 
    border-radius: 10%;

    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}

/* the about section */

.about-section { 
    display:flex;
    flex-direction: column;
    justify-content: space-around;

}

.about-card {

    display:flex;
    flex-direction: row;
    padding:1rem;
    margin:2rem 18%;



}

.about-image-container-outer {

    display:flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height:340px;
    background-color: #FFCC29;
    border-radius: 50%;
}

.about-image-container-inner {
    display:flex;
    align-items: center;
    width: 325px;
    height:325px;
    background-color: #B05A7A;
    border-radius: 50%;
}

.about-card img {
    margin: 30px auto;
    height:300px;
    width:300px;
    border-radius:50%;
    margin:auto;
}

.about-text {
    text-align: center;
    margin: 0 2rem;
    max-width: 500px;
}

.about-text h2 {
    margin:1rem 0;
}

.about-text p {
    padding:1rem;
    background-color: lightgrey;
    border-radius: 5%;
}

.about-card.right {
    flex-direction: row-reverse;
}


/* and now for some of the reviews that customers have made */


.review-container { 
    font-size: 1rem;
    display:flex;
    justify-content: center;
    align-items:center
}

.review-container div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin:1rem;
    padding:2rem;
     color: #B05A7A;
    border:10px solid #B05A7A;
    text-align: center;
    background-color:rgba(255, 204, 41);
    border-radius:5%;

}

.review-card > h2 {
    font-size:1rem;
    color: #007965;
    padding-left: 5px;
}

/* now to style the footer section a little bit */


footer {
    font-size:30px;
    height:150px;
}

.social-networks {
    text-align:center;
}

.social-networks > li {
    display:inline;
}

.social-networks  i {
    font-size:130%;
    margin:1%;
    padding:5%;
    color:#F58634;

}

/* now for the meet the staff page */ 

#spacer {


    height:100px;
}

.staff-container {

    display:flex;
}

.staff-container img {
    height: 250px;
    width: 250px;
}





.staff-bio {
    font-size:200%;
    display: inline-block;
}



/* adding a form for signup */

.form-section {
    clear: left;
    background: url(../images/annestown-g1b64f3624_1920.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #007965;
    background-color:rgba(255, 204, 41, .9);
    max-width:400px;
    position:absolute;
    left:10%;
    padding:30px;
}

.signup-form > h2 {
    color:#B05A7A;
    margin-bottom:20px;
}
.text-input {
    background:transparent;
    color:#B05A7A;
    width:100%;
    height:25px;
    margin:5px 0 20px 0;
    border:1px solid #fafafa;
    border-radius:2px;
}




.text-input:hover {
    border-color:#f16c6b;
}

.join-button {
    margin-top:20px;
    border-radius:2px;
    padding:15px 32px;
    text-align:center;
    font-size:100%;
    background-color: #F58634;
    color:#007965;
    display:block;
    
}

.join-button:hover {
    background-color:#B05A7A;
    color:#FFCC29;
}


/* add some responsive design */


@media screen and (max-width: 1200px) {

    .about-section {
        align-items: center;
    }

    .about-card {
        /* flex-direction: column; */
        align-items: center;
    }



    .staff-image-left {
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        margin:30px;
        display:block;
    }

    .about-card {
        flex-direction: column !important;
    }

}

/* media queries for phone sized screens */

@media screen and (max-width:950px) {
    #menu {

        clear:left;
        float:left;
        margin-left:30px;
        margin-bottom:20px;
        line-height:25px;
}
    #cover-text {
        left:1rem;
    }

    .review-card > h2 {
        font-size:1rem;
 
    }


}

@media screen and (max-width:850px) {



    .navbar {
        flex-direction: column;
    }

    .navlinks {
        margin-bottom: 1rem;
    }

    .logo {
        font-size: 1.2rem;
    }

    .staff-container {
    
        flex-direction: column;
    }

    #cover-text {
        width:100%;
        margin:0;
        padding:0;
        text-align: center;
        border-radius: 0;
        bottom:0;
        left:0;
        height:auto;

    }

    .about-section {
        flex-direction: column;
        align-items: center;
    }

    .review-container {
        /* background-color: red; */
        flex-direction:column;
    }

    .review-card {
        width:80%;
    }

  
    
}
